.line1{
    color:lightpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.line2{
    color: coral;
}
.line3{
    color:darkblue
}
.line4{
    color:darkseagreen
}
.line4{
    color:deeppink
}
.line4{
    color:khaki
}