
header{font-family: var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
font-size: 6rem;
font-weight: 400;
text-align: center;
box-sizing: inherit;
margin-left: auto;
margin-right: auto;
max-width: calc(782px - 32px);
margin-bottom: 32px;
margin-top: 0;}
body{background-image: url(tirabkgd.png)}
img{width:700px;
    height: 450px;
    object-fit:center;
    float:middle;
    padding:20px 350px 20px 350px;}
h2{font-family: var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
    font-size: 3rem;
    font-weight: 400;
    overflow-wrap: break-word;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    background: 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(782px - 32px);}
ul{font-family: var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
    font-size: 1rem;
    font-weight: 400;
    overflow-wrap: break-word;
    padding: 3em 0;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    background: 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(782px - 32px);}
.intro{
    font-family: var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
font-size: 1rem;
font-weight: 400;
box-sizing: inherit;
overflow-wrap: break-word;
padding: 3em 0;
text-align: center;
border-bottom: 4px solid;
border-top: 4px solid;
margin-top: 32px;
margin-bottom: 32px;
background: 0 0;
margin-left: auto;
margin-right: auto;
max-width: calc(782px - 32px);}
.recipe1{
    font-family: var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    box-sizing: inherit;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(782px - 32px);
    margin-bottom: 32px;
    margin-top: 0;}
    .text1{    
        font-family: var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
        line-height: 1.6;
        font-size: 1.5rem;
        text-align: left;
        word-wrap: break-word;}
.source{
    font-family: var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
font-size: 1rem;
font-weight: 400;
box-sizing: inherit;
overflow-wrap: break-word;
padding: 3em 0;
text-align: center;
border-bottom: 4px solid;
border-top: 4px solid;
margin-top: 32px;
margin-bottom: 32px;
background: 0 0;
margin-left: auto;
margin-right: auto;
max-width: calc(782px - 32px);}
